Meta
doc
.html
.httr-oauth
.Rapp.history
.Rbuildignore
.RData
.Rhistory
*-Ex.R
*.dll
*.DS_Store
*.knit.md
*.o
*.so
*.utf8.md
/*_cache/
/*.Rcheck/
/*.tar.gz
/cache/
src-i386
src-x64
vignettes/*.html
vignettes/*.pdf

.junk
inst/doc
scratch.R
.vscode
*.code-workspace
.Rproj.user
/doc/
/Meta/
